
.field td {
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #5d7ccc, #ad99cc);
    position: relative;
    -webkit-user-select: none;
}

.field td.open {
    background: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.field td.lock::after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: darkred;
    left: 15px;
    top: 15px;
    content: "";
    /*pointer-events: none;*/
}



div {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.mine {
    background: red !important;
}

.new-game {
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
}

h1 {
    display: block;
    font-size: 44px;
    font-family: Courier, Monaco, monospace;
    text-align: center;
    margin: 0 auto;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.last {
    background: black !important;
}

#train {
    position: relative;
    cursor: pointer;
}